
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<link rel="stylesheet" href="/static/style.css" type="text/css">
<img src="/static/5.jpg" width="1150" height="200">
<script language="javascript">
function check(form)
{
	if(form.cid.value == "" || form.pin.value == "")
	{
		alert("Error Enter Pin or Cliend Id")
		return false;

	}
	else
	{
		return true;
	}
}
function reg()
{
	alert("redirect")
	location.ahref= "/register";
}
</script>



<table width="20%" bgcolor="FFFFFF" align="left">
<tr>
<td><img src="/static/6.jpg" width="300" height="500"></td>

</tr>
</table>
<table width="20%" bgcolor="FFFFFF" align="right">
<tr>
<td><img src="/static/7.png" width="300" height="500"></td>

</tr>
</table>
<form action="/login" method="POST">
<table width="20%" bgcolor="FFFFFF" align="center">
{%if results%}
{%if message%}

   <h4><center><font color="#FFFFF" size=4>{{ message}}</font></center></h4>
{%endif%}
<h2><center><font color="#FFFFF" size=6>Secure Authentication</font></center></h2>

<tr>
<td colspan=2><center><font size=6><b>Login</b></font></center></td>
</tr>

<tr>
<td>Client ID:</td>
<td><input type="text" size=25 name="cid" value="{{ results[0] }}" readonly></td>
</tr>

<tr>
<td>Pin:</td>
{%if pin%}
<td><input type="text" size=25 name="pin" value="{{pin}}"></td>
{% else %}
<td><input type="text" size=25 name="pin"></td>

{%endif%}

</tr>

<tr>
<td><input type="Reset" ></td>
<td><input type="submit" onclick="return check(this.form)" value="Login"></td>
</tr><tr>
<td><center><input type="submit" value="View Image" formaction="/Detect"></center></td>
<td><center><input type="submit" value="Add Pin" formaction="/Addpin"></center></td>

</tr>
<tr>
<td><input type="submit" value="Register" formaction="/registerpage"></td>
<td><input type="submit" value="Training" formaction="/Training"></td>


</tr>
<tr><input type="submit" value="Forget Password" formaction="/forgetpasspage"></tr>

</table>
{% else %}
{%if message%}

   <h4><center><font color="#FFFFF" size=4>{{ message}}</font></center></h4>
{%endif%}
<h2><center><font color="#FFFFF" size=6>Secure Authentication</font></center></h2>

<tr>
<td colspan=2><center><font size=6><b>Login</b></font></center></td>
</tr>

<tr>
<td>Client ID:</td>
<td><input type="text" size=25 name="cid"></td>
</tr>

<tr>
<td>Pin:</td>
<td><input type="text" size=25 name="pin"></td>
</tr>

<tr>
<td><input type="Reset" ></td>
<td><input type="submit" onclick="return check(this.form)" value="Login"></td>
</tr><tr>
<td><center><input type="submit" value="View Image" formaction="/Detect"></center></td>
<td><center><input type="submit" value="Add Pin" formaction="/Addpin"></center></td>

</tr>
<tr>
<td><input type="submit" value="Register" formaction="/registerpage"></td>
<td><input type="submit" value="Training" formaction="/Training"></td>

</tr>
<tr><td><input type="submit" value="Forget Password" formaction="/forgetpasspage"></td>
	<td></td>
</tr>


</table>
</form>
{% endif %}

{% endif %}
{% endblock %}